In [1]:
from ConnectDB import engine

import pandas as pd
import pandas_datareader as web
import pymysql
from sqlalchemy import create_engine
import sys
import datetime as dt
from datetime import date
from datetime import timedelta
from datetime import datetime
import pytz

In [2]:
# Time zone: thailand
TH = pytz.timezone('Asia/Bangkok')

Set50_list = ['ADVANC.BK','AOT.BK','AWC.BK','BBL.BK','BDMS.BK','BEM.BK','BGRIM.BK','BH.BK','BJC.BK','BPP.BK',
	    'BTS.BK','CBG.BK','CPALL.BK','CPF.BK','CPN.BK','CRC.BK','DTAC.BK','EA.BK','EGCO.BK','GLOBAL.BK','GPSC.BK',
	    'GULF.BK','HMPRO.BK','INTUCH.BK','IRPC.BK','IVL.BK','KBANK.BK','KTB.BK','KTC.BK','LH.BK','MINT.BK','MTC.BK',
	    'OSP.BK','PTT.BK','PTTEP.BK','PTTGC.BK','RATCH.BK','SAWAD.BK','SCB.BK','SCC.BK','TCAP.BK','TISCO.BK','TMB.BK',
	    'TOA.BK','TOP.BK','TRUE.BK','TTW.BK','TU.BK','VGI.BK','WHA.BK']

In [15]:
def extract():
        try:
            print("Extract-->")
            # find max date in database
            sql = """ select DATE_ADD(max(Date), INTERVAL 1 DAY) as "max(Date)" from set50  """
            Max_Date = pd.read_sql_query(sql, engine)

            # startdate, enddate
            start_time=Max_Date['max(Date)'].loc[0]
            end_time = dt.datetime.now(TH)-dt.timedelta(1)
            end_time = end_time.date()
            data = web.DataReader(Set50_list,'yahoo', start_time, end_time)
            # print("Data Set50: ",data.head())
            print("Start_date: ",start_time) # Start date stocsk data for Extarct
            print("End_date: ",end_time) # End date stocsk data for Extarct

            return data
        except:
            print("Is error-->Extract")

In [19]:
 def transfrom():
            print("Transform-->")
            data = extract()
            ds = data.stack().reset_index()
            titels = list(ds.columns)
            titels[2],titels[3],titels[4],titels[5],titels[6],titels[7] = titels[6],titels[4],titels[5],titels[3],titels[2],titels[7]
            df = ds[titels]
            print("Transfrom: ",df)

In [20]:
transfrom()

Transform-->
Extract-->
Data Set50:  Attributes Adj Close                                                         \
Symbols    ADVANC.BK AOT.BK AWC.BK BBL.BK    BDMS.BK BEM.BK BGRIM.BK  BH.BK
Date
2021-04-09     169.5  66.75   4.92  125.5  22.299999   8.20    44.25  142.5
2021-04-12     167.0  65.75   4.80  123.0  22.200001   8.05    43.00  138.5
2021-04-16     168.0  65.50   4.74  122.0  21.900000   8.00    43.25  138.0
2021-04-19     169.5  66.50   4.92  124.5  22.000000   8.15    43.00  138.5

Attributes                    ...     Volume                          \
Symbols    BJC.BK     BPP.BK  ...    TCAP.BK   TISCO.BK       TMB.BK
Date                          ...
2021-04-09  37.25  19.200001  ...  4832700.0  5042100.0  208135900.0
2021-04-12  36.75  18.400000  ...  7485200.0  5109500.0  254053900.0
2021-04-16  37.00  18.299999  ...        NaN        NaN          NaN
2021-04-19  37.00  18.600000  ...        NaN        NaN          NaN

Attributes                                                            \
Symbols        TOA.BK      TOP.BK     TRUE.BK     TTW.BK       TU.BK
Date
2021-04-09  1138600.0  13062200.0  64900400.0  7758900.0  16859200.0
2021-04-12  1593300.0  21044400.0  64949200.0  2836100.0  18811300.0
2021-04-16        NaN         NaN         NaN        NaN         NaN
2021-04-19        NaN         NaN         NaN        NaN         NaN

Attributes
Symbols         VGI.BK      WHA.BK
Date
2021-04-09  53218000.0  54644800.0
2021-04-12  36826300.0  93542100.0
2021-04-16         NaN         NaN
2021-04-19         NaN         NaN

[4 rows x 300 columns]
Start_date:  2021-04-09
End_date:  2021-04-19
Transfrom:  Attributes       Date    Symbols    Open    High     Low       Close  \
0          2021-04-09  ADVANC.BK  170.00  171.00  169.50  169.500000
1          2021-04-09     AOT.BK   67.00   67.25   65.75   66.750000
2          2021-04-09     AWC.BK    4.90    4.96    4.86    4.920000
3          2021-04-09     BBL.BK  126.00  126.50  125.50  125.500000
4          2021-04-09    BDMS.BK   21.60   22.40   21.50   22.299999
..                ...        ...     ...     ...     ...         ...
169        2021-04-19     OSP.BK   33.75   35.00   33.75   35.000000
170        2021-04-19     PTT.BK   39.75   40.00   39.50   39.750000
171        2021-04-19   PTTEP.BK  116.00  116.00  114.00  115.500000
172        2021-04-19   PTTGC.BK   63.00   63.50   62.25   63.250000
173        2021-04-19   RATCH.BK   49.75   50.50   49.50   50.000000

Attributes   Adj Close       Volume
0           169.500000    3115500.0
1            66.750000   15876900.0
2             4.920000   64270300.0
3           125.500000    4033400.0
4            22.299999  150324000.0
..                 ...          ...
169          35.000000   15679800.0
170          39.750000   30128300.0
171         115.500000    6332800.0
172          63.250000   19234200.0
173          50.000000    5209400.0

[174 rows x 8 columns]

In [ ]:
""